@import "assets/css/variable";

section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex !important;

    .imgBx{
        position: relative;
        width: 50%;
        height: 100%;

        img{
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            // object-position: center center;
        }

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(225deg,$Color8, $Color9);
            z-index: 1;
            mix-blend-mode: screen;
        }
    }

    .contentBx{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        order: -1;

        .formBx{
            width: 50%;

            h2{
                color: $Color7;
                font-weight: 600;
                font-size: 1.5em;
                text-transform: uppercase;
                margin-bottom: 20px;
                border-bottom: 4px solid $Color10;
                display: inline-block;
                letter-spacing: 1px;
            }

            .inputBx{
                margin-bottom: 20px;

                span{
                    font-size: 16px;
                    margin-bottom: 5px;
                    display: inline-block;
                    color: $Color7;
                    font-weight: 300;
                    font-size: 16px;
                    letter-spacing: 1px;
                }

                input{
                    width: 100%;
                    padding: 10px 20px;
                    outline: none;
                    font-weight: 400;
                    border: 1px solid $Color7;
                    letter-spacing: 1px;
                    font-size: 16px;
                    background: transparent;
                    border-radius: 30px;
                }
                input[type="submit"]{
                    background: $Color10;
                    color: $Color5;
                    outline: none;
                    border: none;
                    font-weight: 500;
                    cursor: pointer;

                    &:hover{
                        background: $Color11;
                    }
                }
            }
        }
    }
}


@media (max-width: 768px){
    section{
        .imgBx{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .contentBx{
            width: 100%;
            z-index: 1;

            .formBx{
                width: 100%;
                padding: 40px;
                background: rgba($color: $Color5, $alpha: 0.9);
                margin: 50px;
            }
        }
    }
}
